/* Menu */
main {
  margin-top: 20px;
  text-align: center;
}

button {
  border: 0;
  border-radius: 5px;
  line-height: 30px;
  color: white;
  width: 100px;
  margin: 20px 10px;
  cursor: pointer;
  outline: 0;
}

/* Grid */
#wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  display: block;
  font-family: sans-serif;
  border-radius: 4px;
  background-color: #D3D3D3;
}

#container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 4px;
  z-index: 0;
}

column {
  flex: 0 1 64px;
  line-height: 64px;
  height: 64px;
  margin: 4px;
  color: white;
  text-align: center;
  border-radius: 4px;
  background-color: #A9A9A9;
}

/* Tiles */
div.tile {
  transition: all .1s ease-in-out; /*slow start and end*/

  position: absolute;
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2em;
  background-color: #86CB92;
  color: #F9F6F2;
}

#tiles {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

/* Cell position */
/* Dirty : TODO in less */
.cell-0-0 {
  left: 8.5px !important;
  top: 8.5px !important;
}

.cell-0-1 {
  left: 8.5px !important;
  top: 80.5px !important;
}

.cell-0-2 {
  left: 8.5px !important;
  top: 152.5px !important;
}

.cell-0-3 {
  left: 8.5px !important;
  top: 224.5px !important;
}

.cell-1-0 {
  left: 80.5px !important;
  top: 8.5px !important;
}

.cell-1-1 {
  left: 80.5px !important;
  top: 80.5px !important;
}

.cell-1-2 {
  left: 80.5px !important;
  top: 152.5px !important;
}

.cell-1-3 {
  left: 80.5px !important;
  top: 224.5px !important;
}

.cell-2-0 {
  left: 152.5px !important;
  top: 8.5px !important;
}

.cell-2-1 {
  left: 152.5px !important;
  top: 80.5px !important;
}

.cell-2-2 {
  left: 152.5px !important;
  top: 152.5px !important;
}

.cell-2-3 {
  left: 152.5px !important;
  top: 224.5px !important;
}

.cell-3-0 {
  left: 224.5px !important;
  top: 8.5px !important;
}

.cell-3-1 {
  left: 224.5px !important;
  top: 80.5px !important;
}

.cell-3-2 {
  left: 224.5px !important;
  top: 152.5px !important;
}

.cell-3-3 {
  left: 224.5px !important;
  top: 224.5px !important;
}
